*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1024px;
    margin: 0 auto;
}
.header__topbcg{
    background-color: #313131;
}
.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
.header__top a{
    position: relative;
    color: #fff;
    line-height: 29px;
    text-decoration: none;
}
.header__phone, .header__mail{
    padding-left: 30px;
    letter-spacing: 0.4px;
}
.header__phone::before{
    content: "\f095";
    font-family: 'FontAwesome';
    color:rgb(250, 172, 54);
    position: absolute;
    left: 10px;    
}
.header__mail::before{
    content: "\f0e0";
    font-family: 'FontAwesome';
    color:rgb(250, 172, 54);
    position: absolute;
    left: 10px;       
}
.button{
    border: 2px solid rgb(250, 172, 54);
    border-radius: 5px;
    position: relative;
    text-decoration: none;
    background-color: rgb(250, 172, 54);
}
.button:hover{
    text-decoration: underline;
}
.header__btn{
    padding: 3px 20px 3px 40px;
}
.header__btn::before{
    content: '\f2a0';
    font-family: 'FontAwesome';
    position: absolute;
    left: 22px;
    color:#1b1b1b;
    
}
/* .menu{} */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu ul{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu ul li{ 
    display: inline;
    font-size: 16px;
}
.menu ul li:not(:first-child){ 
    margin-left: 40px;
}
.menu a{
    text-decoration: none;
    color: rgb(136, 136, 136);
}
.menu a:hover{
    text-decoration: underline;
}
/* SLIDER */
#wrap{
    background-image: url(/img/gorod.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 560px;
    overflow: hidden;
}
.slider{
    max-width: 640px;
    text-align: center;
    margin: 0 auto;
}
.items{
    max-width: 560px;
    margin-left: 20px;
    margin-right: 20px;
    
}
/* .slider_content{
    width: auto;
    display: flex;
    justify-content: flex-start;
} */
/* .text{
    display: block;
    flex: 0 0 auto;
    width: 560px;
    text-align: center;
} */
.wrap{
    padding-top: 150px;
    padding-bottom: 150px;
}
.slider_content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 280px;
    max-width: 500px;
    text-align: center;
    -webkit-animation-name:fade;
    -webkit-animation-duration: 1s;
    animation-name:fade;
    animation-duration: 1s;
    position: relative;
}
@-webkit-keyframes fade {
    from{opacity: 0.2};
    to{opacity: 1;};
}
@-webkit-keyframes fade {
    from{opacity: 0.2};
    to{opacity: 1;};
}
@keyframes fade {
    from{opacity: 0.2;}
    to{opacity: 1;}
}
.diver::before{
    content: '';
    display: inline-block;
    width: 90px;
    border: 1px solid rgb(250, 172, 54);
    margin: 0;
    padding: 0;
}
.text h1{
    font-size: 44px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #fff;
    margin: 0;
    padding: 0;
}
.text P{
    font-family: 'Roboto', sans-serif;
    color: rgb(252, 248, 213);
    margin: 40px 0 0 0;
    padding: 0;
}
.text a{
    margin-top: 20px;
    padding: 4px 20px;
    background-color: rgb(56, 168, 157);
    text-decoration: none;
    border-radius: 7px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    transition: 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.text a:hover{
    background-color: teal;
}
.slider_btn{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
}
.arrow_slider_left, .arrow_slider_right{
    font-family: 'FontAwesome';
    font-size: 36px;
    cursor: pointer;
    display: block;
    z-index: 2;
    color:rgb(252, 248, 213);
    opacity: 0.6;
    transition: 0.6s ease;
}
.arrow_slider_left:hover, .arrow_slider_right:hover{
    opacity: 1;
}
/* HOMETEXT */
.contentmain{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    max-height: 300px;
}
.itemhome img{
    width: 500px;
    max-height: 300px;
    border: 2px solid;
    border-radius: 5px;
}
.texthome{
    padding-left: 20px;
    padding-right: 20px;
}
.texthome h3{
    font-size: 28px;
    color: #4b4b4b;
    padding: 0;
    margin: 0 0 20px 0;
    font-weight: 700;
}
.texthome p{
    color: #8b8b8b;
    font-size: 12px;
    margin: 0 0 20px 0;
    padding: 0;
}
.main_btn{
    padding: 7px 20px;
    background-color: turquoise;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    transition: 0.6s;
    box-shadow:3px 3px 7px rgba(109, 109, 109, 0.582);
}
.main_btn:hover{
    background-color: rgb(2, 95, 95);
}
.diverhome::before{
    content: '';
    border: 1px solid rgb(56, 168, 157);
    display: inline-block;
    width: 120px;
    margin: 0 0 20px 0;
    padding: 0;
}
/* ABOUT */
.tha p{
    font-size: 16px;
}
.dots{
    color: turquoise;
}
.partners{
    max-width: 100%;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
}
.partners h2{
    color: turquoise;
    font-weight: 700;
}
.partner{
    display: flex;
    justify-content: space-between;
}
.item{
    text-align: center;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 7px;
    box-shadow: 3px 3px 7px rgba(129, 129, 129, 0.582);
}
.item img{
    width: 225px;
    height: 150px;
}
.item figure{
    margin: 0 0 10px 0;
}
.workmain{
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
.workers{
    display: flex;
    justify-content: space-between;
}
.workmain h2{
    color: turquoise;
}
.worker{
    max-width: 33%;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 7px;
    box-shadow: 3px 3px 7px rgba(129, 129, 129, 0.582);
    padding: 5px 30px 5px 30px;
}
.worker img{
    width: 150px;
    height: 150px;
}
/* CATALOG */
.content-catalog{
    display: flex;
}
.property{
    max-width: 80%;
    margin-right: 20px;
}
.property h2{
    color: turquoise;
}
.product{
    display: inline-block;
    width: 32%;
    height: 450px;
    text-align: center;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    vertical-align: top;
    margin-bottom: 10px;
    padding: 3px;
}
.product img{
    width: 170px;
    height: 120px;
}
.sidebar-right{
    max-width: 20%;
    height: max-content;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    padding: 10px;
}
.sidebar-right h3{
    color: turquoise;
}
.sidebar-right ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sort__by label{
    cursor: pointer;
}
.sort__by input{
    cursor: pointer;
}
/* SERVICE */
.service__content{
    display: flex;
    justify-content: space-between;
}
/* FOOTER */
footer{
    background-color: #313131;
    line-height: 30px;
    color: #fff;
    margin: 40px 0 0 0;
    position: relative;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.footer div{
    flex-basis: 250px;
    align-content: center;
}
.diverfooter::before{
    content: '';
    border: 1px solid rgb(250, 172, 54);
    display: inline-block;
    width: 60px;
}
.mail, .phone{
    padding: 0;
    margin: 0;
}
.mail > a, .phone > a, .adress > a{
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    padding: 0;
    padding-left: 5px;
}
.mail::before {
    content: '\f0e0';
    font-family: 'FontAwesome';
    color:rgb(250, 172, 54);
}
.phone::before{
    content: '\f095';
    font-family: 'FontAwesome';
    color:rgb(250, 172, 54);
}
.adress::before{
    content: '\f041';
    font-family: 'FontAwesome';
    color: rgb(250, 172, 54);
}
.social a{
    text-decoration: none;
    display: block;
    color: #fff;
}
.social a span{
    padding-left: 5px;
}
.socmedia::before{
    font-size: 30px;
}
.vk::before{
    content: '\f189';
    font-family: 'FontAwesome';
    color: rgb(250, 172, 54);
}
.fb::before{
    content: '\f082';
    font-family: 'FontAwesome';
    color: rgb(250, 172, 54);
}
.inst::before{
    content: '\f16d';
    font-family: 'FontAwesome';
    color: rgb(250, 172, 54);
}
.newsspam p{
    font-size: 10px;
    line-height: 10px;
}
.newsspam form{
    position: relative;
}
.newsspam form > input{
    outline: none;
    border: none;
    border-radius: 3px;
}
.newsspam form > button{
    background-color: turquoise;
    border: none;
    border-radius: 5px;
    padding: 7px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #fff;
    transition: 0.6s;
    box-shadow:3px 3px 7px rgba(109, 109, 109, 0.582);
}
.newsspam form > button:hover{
    background-color: rgb(2, 95, 95);
    cursor: pointer;
}